@model Presentation.ViewModel.CreateUserViewModel

@{
    ViewBag.Title = "CreateUser";
}

<h2>Create a user</h2>

@using (Html.BeginForm("CreateUser", "User", FormMethod.Post))
{
    <div>
        <fieldset>
            <div class="editor-label">
                @Html.LabelFor(u => u.Username)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.Username, new { @class = "form-control" })
                @Html.ValidationMessageFor(u => u.Username)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(u => u.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(u => u.Password)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.Name)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(u => u.Name)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.OrganizationId)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.OrganizationId, Model.Organizations, "-- Select Organization --", new { @class = "form-control" })
                @Html.ValidationMessageFor(u => u.OrganizationId)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.IsActive)
            </div>
            <div class="editor-field">
                @Html.EditorFor(u => u.IsActive)
                @Html.ValidationMessageFor(u => u.IsActive)
            </div>
        </fieldset>
    </div>
    <br />
    <br />

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Sending permissions</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    @Treeview.ShowTree(new List<Domain.Entities.Organization> { Model.root }, Model.OrganizationWithAccessTo)
                </div>
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-default" value="Submit" />
}

<script>
    $('.TriState').click(function () {
        if ($(this).hasClass('some_selected')) {

            $(this).removeClass('some_selected').addClass('all_selected');
            $(this).prop("indeterminate", false);
            $(this).prop("name", 'isGlobals');
            $(this).prop("checked", true);
        }

        else if ($(this).hasClass('all_selected')) {

            $(this).removeClass('all_selected');
            $(this).prop("indeterminate", false);
            $(this).prop("checked", false);
            $(this).prop("name", 'isGlobals');
        }

        else {
            $(this).addClass('some_selected');
            $(this).prop("indeterminate", true);
            $(this).prop("name", 'Ids');
            $(this).prop("checked", true);
        }
    });

    $('.list > li span').click(function () {
        $(this).parent().find('ul').toggle();
        var hasPlusClass = $(this).hasClass('glyphicon-plus');
        if (hasPlusClass) {
            $(this).removeClass('glyphicon-plus').addClass('glyphicon-minus');
        }
        else {
            $(this).removeClass('glyphicon-minus').addClass('glyphicon-plus');
        }
    });
</script>